<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/src')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'increment_style' => false,
        'strict_param' => true,
        'cast_spaces' => ['space' => 'none'],
        'array_syntax' => ['syntax' => 'short'],
        'declare_strict_types' => true,
        'concat_space' => ['spacing' => 'one'],
        'yoda_style' => false,
        'class_attributes_separation' => ['elements' => ['method']],
        'phpdoc_line_span' => ['const' => 'single', 'property' => 'single', 'method' => 'multi'],
        'no_superfluous_phpdoc_tags' => ['remove_inheritdoc' => true],
        'no_empty_phpdoc' => true,
    ])
    ->setRiskyAllowed(true)
    ->setFinder($finder)
;
